<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Nostr client{% endblock %}</title>
    <meta name="description" content="This is a brief description of my nostr client that includes relevant keywords.">
    {{ css("app.css") }}
   
</head>

<body>
    {% include "partials/header.html" %}
    {% block content %}{% endblock %}
    {% include "partials/footer.html" %}
</body>

</html>

